


/*-- -------------------------- -->
  <---          Reviews           -->
  <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-2rem);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-3rem);
        }

        100% {
            transform: translateY(0);
        }
    }



    .reviews-1397 {
        /* centers the button */
        text-align: center;
        padding: var(--sectionPadding);
        /* clips the orbs from causing overflow issues */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .reviews-1397 .cs-container {
        width: 100%;
        /* changes to 1024px at tablet */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }

    .reviews-1397 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    .reviews-1397 .cs-title {
        max-width: 20ch;
        margin: 0;
    }

    .reviews-1397 .cs-card-group {
        width: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2.5vw, 1.15rem);
    }

    .reviews-1397 .cs-bubbles {
        font-size: min(2.5vw, 0.7em);
        width: 35.125em;
        height: 35.125em;
        position: absolute;
        /* changes to 160px at larger desktop */
        left: -16.25em;
        /* changes to 30px at large desktop */
        bottom: -0.01em;
        z-index: -1;
    }

    .reviews-1397 .cs-bubbles:before {
        /* white border bubble */
        content: "";
        width: 26.25em;
        height: 26.25em;
        background: transparent;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

    .reviews-1397 .cs-bubbles:after {
        content: "";
        width: 20.6875em;
        height: 20.6875em;
        background: var(--secondaryLight);
        opacity: 1;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    .reviews-1397 .cs-container {
        max-width: 80rem;
    }

}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    .reviews-1397 .cs-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .reviews-1397 .cs-content {
        text-align: left;
        width: 23.0625rem;
        align-items: flex-start;
        /* prevents flexbox from squishing it */
        flex: none;
    }

    .reviews-1397 .cs-bubbles {
        margin-right: 37.5rem;
        left: auto;
        right: 50%;
    }
}


 

       